/* Cores Padrões */
:root {
    --cor-primaria: #33a483;
    --cor-secundaria: #021f53;
    --cor-terciaria: #fff;
    --quartenaria: #ccc;
    --quintenaria: #2250a5;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 10%;
}

.div_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 17px;
}

.ion_voltar {
    font-size: xx-large;
}

.header button {
    border: none;
    background-color: white;
}

.header button:hover {
    background-color: #ccc;
    border-radius: 18px;
}

.h1Biografia {
    margin: 2rem;
}

/* Main */
.main-padrao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-center {
    text-align: center;
}

.main-center button {
    width: 200px;
    padding: 10px;
    margin: 25px;
    border-color: var(--cor-primaria);
    background-color: var(--cor-primaria);
    border-radius: 4px;
}

/* Footer */
body {
    margin: 0;
    margin-bottom: 100px;
    text-decoration: none;
}

body a {
    text-decoration: none;
}

.footer {
    width: 100%;
    bottom: 0rem;
    position: fixed;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ccc;
}

.footer-termos {
    width: 100%;
    bottom: 0rem;
    position: fixed;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ion-footer {
    font-size: 40px;
    color: black;
}

/* Tela de Adicionar Dicas */
.h1-adicionar-dicas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5%;
}

.tela-add-Dicas {
    margin-top: 2rem;
}

.tela-add-Dicas1 {
    border-radius: 22px;
    border: var(--cor-primaria);
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    margin-left: 2rem;
}

.tela-add-Dicas2 {
    border-radius: 22px;
    border: var(--cor-primaria);
    background-color: var(--cor-primaria);
    width: 20rem;
    height: 8rem;
    display: flex;
    justify-content: left;
    margin-left: 2rem;
}

.crescer {
    font-size: 25px;
    margin-top: 0.5rem;
}

.descer {
    margin-top: 1rem;
}

.botao-add-dicas {
    font-size: large;
    width: 9rem;
    height: 3rem;
    border-radius: 1rem;
    background: var(--cor-secundaria);
    border: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.botao-add-dicas1 {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

/* Tela de Agendamentos Cliente/Profissional */
.video-call {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
}

.video-call-box {
    width: 80%;
    height: 210px;
    padding: 1.5rem;
    background-color: var(--cor-primaria);
    border-radius: 22px;
    margin-left: 10%;
    margin-top: 5rem;
}

.horario_consulta {
    display: flex;
}

.profissional_consulta {
    display: flex;
    margin-top: -30px;
}

.nome_profissional {
    font-size: 14px;
    margin-top: 21.5px;
}

.timer {
    font-size: 22px;
    margin: 0 5px 0 0;
}

.video-call-button {
    background-color: var(--cor-secundaria);
    border-radius: 50px;
    padding: 4% 7%;
    border: none;
    margin-left: 70%;
    margin-top: -12%;
    color: #ffffff;
}

.lista_tela_chamadas {
    width: 150%;
    font-size: 11px;
    margin-left: 70%;
}

/* Tela de Biografia */
.person-biografia {
    width: 20%;
    margin: 5% 0 0 40%;
    background-color: #ccc;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-biografia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 0 0;
    flex-direction: column;
}

.option-biografia {
    background-color: #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 40px;
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Tela de Buscar Profissionais */
.main-buscar-profissionais {
    width: 100%;
    height: 100%;
    margin: 50px 0 0 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 25px;
}

.caixa-de-texto {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

.botao-pesquisar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.resultados a {
    text-decoration: none;
    color: black;
}

.button_buscar-profissionais {
    padding: 0;
    margin: 5px 0 0 0;
    background-color: white;
    border: white;
}

.profissional-buscar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profissional-buscar h2 {
    margin: 0;
    font-size: 18px;
}

.profissional-buscar p {
    margin: 5px 0;
}

.h1-buscar-profissionais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5%;
}

.grupo_buscar button {
    margin-top: 4%;
    border-radius: 6%;
    border: solid;
    border-color: black;
    background-color: white;
}

.grupo_buscar {
    text-align: center;
}

.ion-icon_buscar {
    font-size: 40px;
}

.grupo_buscar button:hover {
    background-color: #c7d0d8;
}

.profissional-buscar {
    display: flex;
    align-items: center;
}

.aumentar-person-buscar {
    font-size: 50px;
    margin: 0 30px 0 0;
}

/* Tela de Cadastro do Profissional */
.cadastro-pro_main {
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

.cadastro-pro_main input {
    width: 260px;
    background-color: #ccc;
    border-radius: 22px;
}

.cadastro-pro_header h1 {
    text-align: center;
}

.cadastro-pro_main-h4 {
    display: flex;
}

.diploma {
    background-color: rgb(255, 255, 255);
}

.bio {
    height: 100px;
}

.salvar {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    padding: 1px;
    width: 84px;
    border-radius: 4px;
    margin-top: 14px;
}

.salvar:hover {
    background-color: var(--quintenaria);
    border-color: var(--quintenaria);
}

h4 {
    text-align: left;
}

.pagar p {
    display: flex;
    justify-content: left;
}

.pagar input {
    display: flex;
    justify-content: left;
    width: auto;
    margin-right: 3.5rem;
}

.pasgamento {
    display: flex;
}

.pasgamento input {
    width: 20px;
}

#Conta {
    margin: 0 1rem;
}

#pix {
    margin: 0 1rem;
}

/* Tela de Cadastro do Cliente */
.form-cadastro-cli {
    margin-top: 3rem;
}
.grupo-input-cadastro-cli {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-cadastro-cli {
    width: 15rem;
}

.btn-cadastro-cli {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    padding: 1px;
    width: 84px;
    border-radius: 4px;
    margin-top: 14px;
}

/* Tela de Chamadas */
.div-chamadas {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: solid;
    margin: 0;
}

.icon-div-chamadas {
    font-size: 250px;
    margin-top: 3rem;
}

.icon-div2-chamadas {
    font-size: 84px;
    background-color: #ccc;
}

.div-person1 {
    margin: 0;
}

.div-person2 {
    position: absolute;
    margin-left: 13rem;
    margin-bottom: 1rem;
}

.div-icons-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.icons-chamadas {
    font-size: 50px;
}

.icons-telefone {
    font-size: 50px;
    background-color: red;
    border-radius: 50%;
}

/*Tela de Ver Chamadas*/
.red {
    padding: 5px 5px 5px 5px;
    margin: 10px 0 0 0;
    width: 30%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow {
    padding: 5px 5px 5px 5px;
    margin: 10px 0 0 0;
    width: 30%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    padding: 5px 5px 5px 5px;
    margin: 10px 0 0 0;
    width: 30%;
    background-color: rgb(67, 190, 67);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-chamadas {
    margin: 20px 0 0 0;
}

.p-chamadas {
    margin: 0 0 0 10px;
}

/* Tela de Chat */
.ion-icon_chat {
    font-size: x-large;
}

.button_clientes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_chat button {
    margin: 11px;
    width: 212px;
}

/* Tela de Chat do Cliente e Profissional */
.body_chatCli {
    background-color: var(--cor-primaria);
}

.h1-chatCli {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5%;
}

.alinhar-ion-chatCli {
    display: flex;
    justify-content: left;
}

.voltar-chatCli {
    font-size: larger;
    font-size: 190%;
    margin: 5px 0 0 1%;
    color: black;
}

.main_chat-cli p {
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    margin: 5px;
}

.main_chat-cli {
    margin-top: 30px;
}

.ion_mic {
    font-size: xx-large;
}

.url_chatCli {
    font-size: 20px;
    border-radius: 20px;
    width: 15rem;
    outline: 0;
    height: 30px;
    background: white;
    border: none;
}

.digitar-chat {
    display: flex;
    justify-content: center;
    margin-top: 30rem;
}

/*Tela de Conteúdo */
.bloco_verDicas {
    background-color: var(--cor-primaria);
    padding: 16px;
    margin-top: 40px;
    margin-left: 11px;
    height: 67px;
    width: 421px;
    border-radius: 15px;
    display: flex;
    flex-direction: inherit;
}

.bloco_verDicas p {
    color: black;
    border: none;
}

.bloco_verDicas strong {
    color: white;
}

.ion_verDicas {
    font-size: 300%;
    color: var(--cor-primaria);
}

.adicionar_conteudo,
.button_adicionar {
    border-radius: 20px;
    border-color: white;
    padding: 0%;
    background-color: white;
    border: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 7%;
    margin-right: 3%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botaoPreto_conteudo {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: flex-end;
}

.ion-icon_botaoPreto {
    font-size: x-large;
}

/* Tela de Dicas */
.balao1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid;
    padding: 23px;
    width: 46%;
    margin-bottom: 2%;
    border-radius: 16px;
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.balao2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid;
    padding: 23px;
    width: 46%;
    margin-bottom: 2%;
    border-radius: 16px;
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.balao3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid;
    padding: 23px;
    width: 46%;
    margin-bottom: 2%;
    border-radius: 16px;
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.balao4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid;
    padding: 23px;
    width: 46%;
    margin-bottom: 2%;
    border-radius: 16px;
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.main_sugestoes {
    margin-left: 21%;
}

.branco_sugestoes {
    color: white;
}

/* Tela de Dieta */

.main-telaDieta {
    display: flex;
    justify-content: center;
}

.h1-tela-dieta {
    margin-left: 1rem;
}

.ion-icon_dieta {
    font-size: 40px;
    margin-top: 1rem;
    margin-left: 2rem;
}

.garfo-dieta {
    display: flex;
}

.tabela-tela-dieta {
    display: flex;
    justify-content: center;
    width: 700px;
    margin-bottom: 2rem;
    border-style: solid;
    padding-bottom: 1%;
    padding: 2%;
}

.th-tabela-dieta {
    display: flex;
    justify-content: space-between;
}

.td-tabela-dieta {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-size: large;
}

.td-tabela-dieta1 {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-size: large;
    border-bottom: solid;
    margin-bottom: 3%;
    padding-bottom: 3%;
}


.cor-titulo-tabela-dieta {
    font-size: x-large;
    color: rgb(242, 10, 10);
    padding-bottom: 5%;
}

.dia-da-semana {
    font-size: larger;
}

/* Tela de Diploma */
.main-diploma {
    margin: 10% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Tela de Exercícios */
.main_exercicios button {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.main_exercicios table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 27%;
    font-size: 112%;
}

.th-tabela-exercicios {
    border: 1px solid black;
    border-collapse: collapse;
    width: 27%;
    font-size: 112%;
}

.td-tela-exercicios {
    border: 1px solid black;
    border-collapse: collapse;
    width: 27%;
    font-size: 112%;
}

.main_exercicios table {
    margin-top: 3%;
    margin-bottom: 3%;
}

.barraPesquisa {
    display: flex;
    background-color: #fff;
    border: solid 2px;
    border-radius: 12px;
    width: 300px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.procurar {
    background-color: transparent;
    padding-left: 5px;
    font-size: 15px;
    border: none;
    height: 26px;
    width: 260px;
    outline: 0;
}

.ion-icon_procurar {
    font-size: 20px;
    padding-top: 4px;
}

.exercicios_voltar {
    border: none;
    background-color: #fff;
    border-radius: 20px;
}

.exercicios_voltar:hover {
    background-color: #c7d0d8;
}

.tabela_exercicios {
    text-align: center;
    margin: 40%;
}

/* Index */
.index_header {
    padding: 3%;
}

.index_main {
    max-width: 200px;
    margin: 0 auto;
}

.index_main img {
    max-width: 300px;
    background-color: #f4dfd4;
}

.btn-cadastro {
    font-size: 100%;
    color: rgb(0, 0, 0);
    background-color: #dcd9d9;
    padding: 1rem;
    border-radius: 4px;
}

.btn-cadastro:hover,
.cor:hover {
    background-color: #b3b3b3;
}

.index_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_footer span {
    border-right: 2px solid var(--primary-color);
    padding: 0 2rem;
}


.index_main button {
    width: 250px;
    border: 2px solid #ffffff;
    margin: 10px auto;
}

.cor {
    color: var(--cor-terciaria);
    font-size: 100%;
    background-color: var(--cor-secundaria);
    padding: 1rem;
    border-radius: 4px;
}

/* Tela de Login 2 */
.main-login2 {
    max-width: 500px;
    margin: 0 auto;
}

.profissional {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    align-items: center;
    text-align: center;
    padding: 8px;
    margin: 20px;
}

.login2_ion {
    font-size: 25px;
    margin: 2px;
}

.profissional b {
    margin: 12px;
}

.cliente {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    margin: 20px;
}

.cliente b {
    margin: 12px;
}

.flex-centro {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.quem {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
}

.botoes button {
    border-radius: 8px;
    width: 207px;
    justify-content: center;
    margin: 43px;
    padding: 13px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Tela Marcar consultas */
.horario-marcar-consulta {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.horario-marcar-consulta ion-icon {
    margin-right: 30px;
}

.escurecer-botao {
    background-color: #ccc;
    border-radius: 22px;
}

/* Tela de Suas Medidas */
.btn-cadastro-cli:hover {
    background-color: var(--quintenaria);
    border-color: var(--quintenaria);
}

/* Tela do Perfil do Profissional */
.h1-perfil-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5%;
}

.alinhar-ion-main-perfil-pro {
    margin: 2% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-main-perfil-pro {
    font-size: larger;
    font-size: 600%;
}

.alinhar-main-perfil-pro {
    display: block;
    margin: 0 0 0 3%;
}

.h2-main-perifl-pro {
    margin: 0;
}

.p-main-perifl-pro {
    margin: 0;
    border: 0;
    display: flex;
    justify-content: left;
}

.alinhar-informcoes-perfil-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alinhar-option-perfil-pro {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 25%;
}

/* Tela do Perfil do Cliente */
.h1-perfil-cli {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5%;
}

.alinhar-ion-main-perfil-cli {
    margin: 3% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-main-perfil-cli {
    font-size: larger;
    font-size: 600%;
}

.alinhar-main-perfil-cli {
    display: block;
    margin: 0 0 0 3%;
}

.h2-main-perifl-cli {
    margin: 0;
}

.p-main-perifl-cli {
    margin: 0;
    border: 0;
    display: flex;
    justify-content: left;
}

.section-perfil-cli {
    display: flex;
    gap: 3rem;
}

.informacoes-perfil-cli1,
.informacoes-perfil-cli2 {
    flex-direction: column;
    align-items: center;
}

.p-perfil-cli1 {
    background-color: var(--cor-primaria);
    width: 100px;
    padding: 10%;
    border-radius: 4px;
}

.p-perfil-cli2 {
    width: 100px;
    padding: 10%;
    border-radius: 4px;
    margin-top: -16px;
}

.h3-img-perfil-cli {
    text-align: center;
    display: flow-root;
    margin: 0 0 0 5%;
}

.h3-perfil-cli {
    text-align: center;
}

.calendario-perfil-cli {
    text-align: center;
    width: 50%;
}

/* Tela de Planejamento de Chamadas */
.section-solicitar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.h2-solicitar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    border-radius: 40px;
    width: 50%;
    padding: 10px;
}

.lista-solicitar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;
}

.section2-solicitar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.div1,
.div2,
.div3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon-solicitar-red {
    font-size: 30px;
    background-color: red;
    color: red;
    border-radius: 40px;
}

.icon-solicitar-yellow {
    font-size: 30px;
    background-color: yellow;
    color: yellow;
    border-radius: 40px;
}

.icon-solicitar-green {
    font-size: 30px;
    background-color: green;
    color: green;
    border-radius: 40px;
}

.section3-solicitar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.h22-solicitar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    border-radius: 40px;
    width: 15%;
    padding: 10px;
}

/* Tela dos Planos */
.planos {
    text-align: center;
}

.planos_main {
    display: flex;
    justify-content: center;
    margin-left: -25%;
    margin-top: 5%;
}

.basico,
.premium,
.familia {
    margin-left: 19%;
}

.basico button {
    background-color: #c7d0d8;
    border-color: #c7d0d8;
}

.premium button {
    background-color: #ff5757;
    border-color: #ff5757;
}

.conteudo {
    display: none;
}

.oculta {
    display: block;
}

.conteudo1 {
    display: none;
}

.oculta1 {
    display: block;
}

.conteudo2 {
    display: none;
}

.oculta2 {
    display: block;
}

.familia button {
    background-color: #fac832;
    border-color: #fac832;
}

.planos_main button {
    border-radius: 8px;
    padding: 10px;
    width: 85px;
    margin-bottom: 24px;
}

.basico button:hover {
    background-color: #999b9e;
}

.premium button:hover {
    background-color: #eb2727;
}

.familia button:hover {
    background-color: #f0b504;
}

.planos2_main {
    text-align: center;
}

.planos2_header button {
    background-color: white;
    border: none;
    border-radius: 19px;
    margin-top: 10px;
    margin-left: 10px;
}

.planos2_ion {
    text-align: left;
    font-size: 25px;
}

.planos2_header button:hover {
    background-color: #999b9e;
}

.planos2_header h1,
h4 {
    text-align: center;
}

.planos2_main h1 {
    font-size: 50px;
    display: inline;
}

.planos2_main button {
    border-radius: 8px;
    padding: 10px;
    width: 85px;
    margin-bottom: 24px;
}

.planos2_basico {
    background-color: #c7d0d8;
    border-color: #c7d0d8;
}

.planos2_premium {
    background-color: #ff5757;
    border-color: #ff5757;
}

.planos2_familia {
    background-color: #fac832;
    border-color: #fac832;
}

.planos2_basico:hover {
    background-color: #999b9e;
}

.planos2_premium:hover {
    background-color: #eb2727;
}

.planos2_familia:hover {
    background-color: #f0b504;
}

.planos2_main p {
    font-size: 19px;
}

/* Tela de Solicitar Chamadas */
.btn-minhas-consultas {
    margin-top: 3%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.minhas-consultas {
    width: 15rem;
    border-radius: 40px;
    background-color: var(--cor-primaria);
    padding: 10px;
    margin-right: 2%;
}

.div-texto-chamadas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hr-solicitar-chamadas {
    color: black;
    width: 100%;
    height: 1%;
}

.section-solicitar-chamadas {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: space-around;
    align-items: center;
}

.section2-solicitar-chamadas {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-calendario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-primaria);
    border-radius: 40px;
    margin-right: 1%;
}

.div-calendario-red {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    border-radius: 40px;
    margin-right: 1%;
}

.ion-solicitar-chamadas {
    font-size: 2rem;
    color: black;
    align-items: center;
}

.btn-confirmar-planejamento {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.confirmar-planejamento {
    width: 15rem;
    border-radius: 40px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    padding: 10px;
    margin-right: 2%;
}

.div-horario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-primaria);
    width: 12rem;
    height: 2rem;
    margin-right: 10%;
    margin-left: 10%;
}

.agrupar-horarios-chamadas {
    display: flex;
    margin-top: 3%;
}

/* Tela de Solicitar Chamadas Cliente */
.div-calendario-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-primaria);
    border-radius: 40px;
    margin-right: 1%;
}

.div-horario-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-primaria);
    width: 12rem;
    height: 2rem;
    margin-right: 10%;
    margin-left: 10%;
}

.selecione-profissional {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 32px;
}

.div-geral-profissionais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-profissional {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
    border-radius: 18px;
    width: 5rem;
    padding: 1rem;
    align-items: center;
}

.div-profissionais {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
    border-radius: 18px;
    width: 5rem;
    padding: 1rem;
    align-items: center;
}

.ion-person-profissionais {
    font-size: 5rem;
}

/* Tela de Termos de Uso */
.header-termos {
    text-align: center;
    margin-bottom: 40px;
}

.main-termos p {
    display: inline;
    text-align: justify;
    font-size: 124%;
    margin-bottom: 50%;
}

.footer-termos button {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    padding: 6px;
    width: 50px;
    border-radius: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
    margin-left: 48%;
}

.main-termos button:hover {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

/* Tela de Treinos */
.grupo_treino button {
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
    border-radius: 6%;
    border: solid;
    border-color: black;
    background-color: white;
}

.grupo_treino {
    text-align: center;
}

.ion-icon_treino {
    font-size: 40px;
}

.grupo_treino button:hover {
    background-color: #c7d0d8;
}

/* Tela de Vídeos de Execução */
.icones {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 43%;
    margin-right: 53%;
    border: #eb2727;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 30%;
    padding-left: 2%;
}

.video {
    border-style: solid;
    display: flex;
    justify-content: center;
    width: 420px;
    height: 220px;
}

.btn-proximo-video {
    width: 100px;
    background-color: var(--cor-secundaria);
    padding: 7%;
    margin: 15px 0 0 15px;
    border-radius: 12px;
    color: var(--cor-terciaria);
    margin-left: 80%;
}

.centralizar {
    display: flex;
    justify-content: center;
}

.sumir-embaixo {
    text-decoration: none;
}

.descer-texto-videos {
    margin-right: 6%;
    margin-left: 8%;
}

.deixar-no-meio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.sumir-tudo {
    display: none;
}

.btn-prox-and-videos {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.proximos-videos {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    margin-right: 40.5%;
}

.leg-press {
    border-style: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 130px;
    height: 80px;
    margin-right: 20%;
    margin-top: 3%;
}

.bulgaro {
    border-style: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 130px;
    height: 80px;
    margin-right: 20%;
    margin-top: 3%;
}

.flexora {
    border-style: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 130px;
    height: 80px;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 7%;
}

.proximos-videos h5 {
    margin-left: 170%;
}

/* Telas Responsivas */
@media (max-width: 480px) {
    .bloco_verDicas {
        width: 90%;
    }

    .header img {
        width: 25%;
    }

    .main_verDicas {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 0.5rem;
    }

    .div-calendario {
        width: 30%;
    }

    .div-calendario-red {
        width: 30%;
    }

    .div-calendario-2 {
        width: 30%;
    }

    .div-calendario {
        width: 15%;
    }

    .div-calendario-red {
        width: 15%;
    }

    .div-calendario-2 {
        width: 15%;
    }

    .video-call {
        margin-left: 0;
        width: 70%;
    }

    .lista_tela_chamadas {
        width: 140%;
    }

    .video-call {
        margin-left: 0;
        width: 50%;
    }

    .lista_tela_chamadas {
        width: 140%;
    }

    .alinhar-option-perfil-pro {
        width: 110%;
    }

    .planos_main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .balao1,
    .balao2,
    .balao3,
    .balao4 {
        width: 80%;
        padding: 5%;
        margin-left: -1.8rem;
    }

    .tabela-tela-dieta {
        width: 90%;
        padding: 4%;
    }

    .video {
        width: 19.8rem;
        height: auto;
    }

    .proximos-videos {
        margin-left: 3rem;
    }

    .icones {
        padding-right: 24.3%;
    }

    .descer-texto-videos {
        margin-right: -15%;
        margin-left: 15%;
    }

    .video-call-box {
        width: 150%;
        margin-left: 12rem;
    }

    .lista_tela_chamadas {
        margin-left: auto;
    }

    .btn-prox-and-videos {
        margin-right: -20%;
    }
    
    .btn-proximo-video {
        margin-left: -20%;
    }
}

@media (min-width: 480px) {
    .header img {
        width: 20%;
    }

    .alinhar-option-perfil-pro {
        width: 110%;
    }

    .balao1,
    .balao2,
    .balao3,
    .balao4 {
        width: 80%;
        padding: 5%;
        margin-left: -1.8rem;
    }

    .balao2 a {
        width: 80%;
    }

    .tabela-tela-dieta {
        width: 90%;
        padding: 4%;
    }

    .video-call-box {
        width: 120%;
        margin-left: 12rem;
    }

    .lista_tela_chamadas     {
        width: 120%;
        margin-left: 7rem;
    }
}

@media (min-width: 768px) {
    .header img {
        width: 7%;
    }

    .alinhar-option-perfil-pro {
        width: 110%;
    }

    .planos_main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .main_verDicas {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .main_verDicas {
        padding: 0 1rem;
    }

    .video-call {
        width: 40%;
        margin-left: 25%;
    }

    .balao1,
    .balao2,
    .balao3,
    .balao4 {
        width: 60%;
        margin-left: -3.8rem;
    }

    .tabela-tela-dieta {
        width: 150%;
    }

    .video-call-box {
        width: 110%;
    }

    .lista_tela_chamadas {
        margin-left: 1%;
        width: 110%;
    }
}


/* Tela de Adicionar Dieta */
.color_header {
    background-color: #fff;
}

.main_adicionarDieta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quadroDieta {
    display: flex;
    border: solid;
    border-radius: 20px;
    width: 27rem;
    background: var(--cor-primaria);
    border-color: var(--cor-primaria);
    margin: 1rem;
}

.parte2_adicionarDieta {
    border: solid;
    border-radius: 20px;
    width: 29rem;
    background: var(--cor-primaria);
    border-color: var(--cor-primaria);
    margin-bottom: 1rem;
}

.texto-input input {
    width: 40%;
    border-radius: 20px;
    padding: 2%;
    outline: 0;
}

.texto-input span {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.texto-input {
    gap: 5rem;
}

.main_adicionarDieta button {
    font-size: large;
    width: 9rem;
    height: 3rem;
    border-radius: 1rem;
    background: var(--cor-secundaria);
    border: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.lado-a-lado {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-left: 1rem;
}

/*Tela de Adicionar treino*/
.gp_exercicio{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: large;
}

.gp_exercicio input{
    border-radius: 20px;
    margin-bottom: 1rem;
    gap: 0.7rem;
    border: none;
    outline: 0;
}

.e_treino input{
    width: 13rem;
    height: 2rem;
}

.sr_treino input{
    width: 5rem;
    height: 2rem;
}

.esr_treinos{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#musculos{
    background-color: var(--cor-terciaria);
    height: 2rem;
    width: 6rem;
    border-radius: 20px;
    border:none;
    
}

.montarTreino{
    background-color: var(--cor-primaria);
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.main_adicionarTreino h3{
    margin-top: -1rem;
}