body {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 16px 16px 16px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-container a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #ccc;
    border-radius: 4px;
    text-align: center;
    color: #021f53;
}

.login-container a:hover {
    background-color: #bbb;
}

a.btn-login {
    background-color: #021f53;
    color: #fff;
}

a.btn-login:hover {
    background-color: #0c2f71;
}

header {
    /* border-bottom: 1px solid #ccc; */
}

.logo {
    height: 100px;
}

.titulo-pagina {
    text-align: center;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.botoes a {
    padding: 16px 32px;
    gap: 1rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    text-decoration: none;
}

.btn-profissional {
    background-color: #76c2af;
}

.btn-cliente {
    background-color: #5ce1e6;
}

.form-grupo {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-grupo input {
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #ccc;
}

.btn-salvar {
    background-color: #021f53;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    float: right;
    text-decoration: none;
}

.planos {
    display: flex;
    gap: 16px;
}


.planos>div {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
}

.basico {
    background-color: #c7d0d8;
    border-color: #c7d0d8;
}

.premium {
    background-color: #ff5757;
    border-color: #ff5757;
}

.familia {
    background-color: #fac832;
    border-color: #fac832;
}

.basico button, .premium button, .familia button{
    background-color: #021f53;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    border-color: #021f53;
}

@media(max-width: 700px) {
    .planos {
        flex-direction: column;
        align-items: center;
    }

}