body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f3f3;
}
  
main {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    max-width: 500px;
    margin: 0 auto;
}

input {
    width: 260px;
    background-color: #ccc;
}

h1 {
    text-align: center;
}

.diploma {
    background-color: rgb(255, 255, 255)
}

.bio {
    height: 100px;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
  
footer span {
    padding: 0 1rem;
}
  
footer span:last-child {
    border: none;
}

footer input {
    width: 120px;
    background-color: #1498d5;
}

a button{
    background-color: #1498d5;
    border-color: #0cc0df;
    padding: 1px;
    width: 84px;  
    border-radius: 8px;
}

a button:hover{
    background-color:#096a97;
    border-color: #096a97;
}