/* footer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
} */

/* Primeira tela do aplicativo: */
.index_body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.index_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.index_main img {
  max-width: 300px;
  background-color: #f4dfd4;
  border: 5px solid var(--primary-color);
}

.index_footer {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.index_footer span {
  border-right: 2px solid var(--primary-color);
  padding: 0 2rem;
}

.index_footer span:last-child {
  border: none;
}

.index_main button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 30px;
  border: 2px solid #ffffff;
  margin: 10px auto;
}

.cor {
  color: #1441d5;
}

.index_body a {
  color: #1441d5;
  text-decoration: none;
}

/* Tela de login 2: */
.profissional {
  background-color: #76c2af;
  border-color: #76c2af;
  align-items: center;
  text-align: center;
  padding: 8px;
  margin: 20px;
}

.login2_footer button {
  background-color: white;
  border-radius: 19px;
  margin-top: 10px;
  margin-left: 10px;
  border: none;
}

.login2_footer button:hover {
  background-color: #c7d0d8;
}

.login2_ion {
  font-size: 25px;
  margin: 2px;
}

.profissional b {
  margin: 12px;
}

.cliente {
  background-color: #5ce1e6;
  border-color: #5ce1e6;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  margin: 20px;
}

.cliente b {
  margin: 12px;
}

.flex-centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quem {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 40px;
}

.botoes button {
  border-radius: 8px;
  width: 207px;
  justify-content: center;
  margin: 43px;
  padding: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login_2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.login_2 a {
  text-decoration: none;
}

/* Tela de cadastro do profissional: */
.cadastro-pro_body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.cadastro-pro_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.cadastro-pro_main input {
  width: 260px;
  background-color: #ccc;
  border-radius: 22px;
}

.cadastro-pro_header h1 {
  text-align: center;
}

.cadastro-pro_main-h4 {
  display: flex;
}

.diploma {
  background-color: rgb(255, 255, 255);
}

.bio {
  height: 100px;
}

.salvar button {
  background-color: #1498d5;
  border-color: #0cc0df;
  padding: 1px;
  width: 84px;
  border-radius: 8px;
  margin-top: 14px;
}

.salvar button:hover {
  background-color: #096a97;
  border-color: #096a97;
}

h4 {
  text-align: left;
}

.pagar p {
  display: flex;
  justify-content: left;
}

.pagar input {
  display: flex;
  justify-content: left;
  width: auto;
  margin-right: 3.5rem;
}

.pasgamento {
  display: flex;
}

.pasgamento input {
  width: 20px;
}

#Conta {
  margin: 0 1rem;
}

#pix {
  margin: 0 1rem;
}

/* Tela de cadastro do cliente: */
.body-cadastro-cli {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f3f3;
}

.main-cadastro-cli {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  max-width: 500px;
  margin: 0 auto;
}

.main-cadastro-cli input {
  width: 260px;
  background-color: #ccc;
  border-radius: 22px;
}

.h1-cadastro-cli {
  text-align: center;
}

.diploma {
  background-color: rgb(255, 255, 255);
}

.bio {
  height: 100px;
}

.footer-cadastro-cli {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.footer-cadastro-cli span {
  padding: 0 1rem;
}

.footer-cadastro-cli span:last-child {
  border: none;
}

.footer-cadastro-cli input {
  width: 120px;
  background-color: #1498d5;
}

.footer-cadastro-cli a button {
  background-color: #1498d5;
  border-color: #0cc0df;
  padding: 1px;
  width: 84px;
  border-radius: 8px;
}

.footer-cadastro-cli a button:hover {
  background-color: #096a97;
  border-color: #096a97;
}

/* Tela de Suas Medidas*/
.body-cadastro-cli-medidas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f3f3;
}

.main-cadastro-cli-medidas {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  max-width: 500px;
  margin: 0 auto;
}

.main-cadastro-cli-medidas input {
  width: 260px;
  background-color: #ccc;
  border-radius: 22px;
}

.h1-cadastro-cli-medidas {
  text-align: center;
}

.diploma {
  background-color: rgb(255, 255, 255);
}

.bio {
  height: 100px;
}

.footer-cadastro-cli {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.footer-cadastro-cli span {
  padding: 0 1rem;
}

.footer-cadastro-cli span:last-child {
  border: none;
}

.footer-cadastro-cli input {
  width: 120px;
  background-color: #1498d5;
}

.footer-cadastro-cli a button {
  background-color: #1498d5;
  border-color: #0cc0df;
  padding: 1px;
  width: 84px;
  border-radius: 8px;
}

.footer-cadastro-cli a button:hover {
  background-color: #096a97;
  border-color: #096a97;
}

/* Tela de termos de uso: */
.header-termos {
  text-align: center;
  margin-bottom: 40px;
}

.main-termos p {
  display: inline;
  text-align: justify;
  font-size: 124%;
  margin-bottom: 50%;
}

.footer-termos button {
  background-color: #1498d5;
  border-color: #1498d5;
  padding: 6px;
  width: 50px;
  border-radius: 16px;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 48%;
}

.main-termos button:hover {
  background-color: #096a97;
  border-color: #096a97;
}

/* Tela de menu do profissional: */
.h1-menu-pro {
  text-align: left;
}

.body-menu-pro {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-menu-pro,
.h1-menu-pro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.main-menu-pro button {
  width: 200px;
  padding: 10px;
  margin: 30px;
  justify-content: center;
  background-color: rgb(120, 193, 242);
  flex-direction: column;
}

.grupo button {
  align-items: center;
  justify-content: space-between;
}

/* Tela de menu do cliente: */
.main-menu-cli {
  text-align: center;
}

.header-menu-cli {
  padding-bottom: 39px;
  padding-left: 10px;
  padding-top: 10px;
}

.main-menu-cli button {
  width: 200px;
  padding: 10px;
  margin: 25px;
  background-color: rgb(120, 193, 242);
  border-color: rgb(120, 193, 242);
}

/* Tela dos planos: */
.planos {
  text-align: center;
}

.planos_main {
  display: flex;
  justify-content: center;
  margin-left: -25%;
  margin-top: 5%;
}

.basico,
.premium,
.familia {
  margin-left: 19%;
}

.basico button {
  background-color: #c7d0d8;
  border-color: #c7d0d8;
}

.premium button {
  background-color: #ff5757;
  border-color: #ff5757;
}

.conteudo {
  display: none;
}

.oculta {
  display: block;
}

.conteudo1 {
  display: none;
}

.oculta1 {
  display: block;
}

.conteudo2 {
  display: none;
}

.oculta2 {
  display: block;
}

.familia button {
  background-color: #fac832;
  border-color: #fac832;
}

.planos_main button {
  border-radius: 8px;
  padding: 10px;
  width: 85px;
  margin-bottom: 24px;
}

.basico button:hover {
  background-color: #999b9e;
}

.premium button:hover {
  background-color: #eb2727;
}

.familia button:hover {
  background-color: #f0b504;
}

.planos2_main {
  text-align: center;
}

.planos2_header button {
  background-color: white;
  border: none;
  border-radius: 19px;
  margin-top: 10px;
  margin-left: 10px;
}

.planos2_ion {
  text-align: left;
  font-size: 25px;
}

.planos2_header button:hover {
  background-color: #999b9e;
}

.planos2_header h1,
h4 {
  text-align: center;
}

.planos2_main h1 {
  font-size: 50px;
  display: inline;
}

.planos2_main button {
  border-radius: 8px;
  padding: 10px;
  width: 85px;
  margin-bottom: 24px;
}

.planos2_basico {
  background-color: #c7d0d8;
  border-color: #c7d0d8;
}

.planos2_premium {
  background-color: #ff5757;
  border-color: #ff5757;
}

.planos2_familia {
  background-color: #fac832;
  border-color: #fac832;
}

.planos2_basico:hover {
  background-color: #999b9e;
}

.planos2_premium:hover {
  background-color: #eb2727;
}

.planos2_familia:hover {
  background-color: #f0b504;
}

.planos2_main p {
  font-size: 19px;
}

/*Tela do perfil do profissional*/
.h1-perfil-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5%;
}

.alinhar-ion-header-perfil-pro {
  display: flex;
  justify-content: left;
  align-items: left;
}

.sino-header-perfil-pro {
  font-size: larger;
  font-size: 190%;
}

.alinhar-ion-main-perfil-pro {
  margin: 2% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-main-perfil-pro {
  font-size: larger;
  font-size: 600%;
}

.alinhar-main-perfil-pro {
  display: block;
  margin: 0 0 0 3%;
}

.h2-main-perifl-pro {
  margin: 0;
}

.p-main-perifl-pro {
  margin: 0;
  border: 0;
  display: flex;
  justify-content: left;
}

.alinhar-informcoes-perfil-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alinhar-option-perfil-pro {
  background-color: rgb(120, 193, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 50%;
}

/*Tela do perfil do cliente*/
.h1-perfil-cli {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5%;
}

.alinhar-ion-header-perfil-cli {
  display: flex;
  justify-content: left;
  align-items: left;
}

.sino-header-perfil-cli {
  font-size: larger;
  font-size: 190%;
}

.alinhar-ion-main-perfil-cli {
  margin: 3% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-main-perfil-cli {
  font-size: larger;
  font-size: 600%;
}

.alinhar-main-perfil-cli {
  display: block;
  margin: 0 0 0 3%;
}

.h2-main-perifl-cli {
  margin: 0;
}

.p-main-perifl-cli {
  margin: 0;
  border: 0;
  display: flex;
  justify-content: left;
}

.informacoes {
  margin: 0 70px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informacoes-perfil-cli {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0 0 10%;
  flex-direction: column;
}

.informacoes-perfil-cli1 {
  display: flex;
  justify-content: center;
  margin: 1% 0 0 0;
}

.informacoes-perfil-cli2 {
  display: flex;
  justify-content: center;
  margin: 1% 0 0 0;
}

.span-perfil-cli1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 0 40px;
}

.span-perfil-cli2 {
  margin: 0 0 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 0 40px;
}

.p-perfil-cli1 {
  width: 100px;
  background-color: rgb(71, 74, 255);
  padding: 10%;
  margin: 40px 0 0 15px;
}

.p-perfil-cli2 {
  width: 100px;
  background-color: rgb(71, 74, 255);
  padding: 10%;
  margin: 40px 0 0 15px;
}

.p-perfil-cli3 {
  width: 100px;
  background-color: rgb(71, 74, 255);
  padding: 10%;
  margin: 40px 0 0 15px;
}

.p-perfil-cli4 {
  width: 100px;
  background-color: rgb(71, 74, 255);
  padding: 10%;
  margin: 40px 0 0 15px;
}

.h3-img-perfil-cli {
  text-align: center;
  display: flow-root;
  margin: 0 0 0 5%;
}

.h3-perfil-cli {
  text-align: center;
}

.calendario-perfil-cli {
  text-align: center;
  width: 20%;
}

/*Tela de adicionar dica*/
.h1-adicionar-dicas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5%;
}

.alinhar-ion-header-adicionar-dicas {
  display: flex;
  justify-content: left;
}

.sino-header-adicionar-dicas {
  font-size: larger;
  font-size: 190%;
  margin: 5px 0 0 1%;
}

.body-adicionar-dicas {
  background-color: #999b9e;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-adicionar-dicas {
  background-color: white;
}

.tela-add-Dicas {
  margin-top: 2rem;
}

.tela-add-Dicas1 {
  border-radius: 20px;
  border: #096a97;
  background-color: #1498d5;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100px;
}

.tela-add-Dicas2 {
  border-radius: 30px;
  border: #096a97;
  background-color: #1498d5;
  width: 30%;
  height: 150px;
  display: flex;
  justify-content: left;
}

.crescer {
  font-size: 25px;
  margin-top: 0.5rem;
}

.descer {
  margin-top: 1rem;
}

.footer-tela-add-dicas {
  background-color: #999b9e;
  display: flex;
  justify-content: right;
  height: 50px;
  margin-top: 20%;
}

.botao-add-dicas {
  width: 200px;
  height: 100%;
  background-color: #1498d5;
  margin-right: 3rem;
  font-size: 25px;
  font-style: italic;
  border: none;
  border-radius: 22px;
}

/*Tela de promover conteúdo*/
.bloco_verDicas {
  background-color: #1498d5;
  padding: 16px;
  margin-top: 40px;
  margin-left: 11px;
  height: 67px;
  width: 421px;
  border-radius: 15px;
  display: flex;
  flex-direction: inherit;
}

.bloco_verDicas p {
  color: black;
  border: none;
}

.bloco_verDicas strong {
  color: white;
}

.ion_verDicas {
  font-size: 300%;
  color: #1498d5;
}

.adicionar_conteudo, .button_adicionar {
  border-radius: 20px;
  border-color: white;
  padding: 0%;
  background-color: white;
  border: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 7%;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botaoPreto_conteudo{
  background-color: #1498d5;
  border-color: #1498d5;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: flex-end;
}

.ion-icon_botaoPreto{
  font-size: x-large;
}


/*Tela de Buscar Profissionais*/
.body-buscar-profissionais {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header-buscar-profissionais {
  text-align: center;
  padding: 20px 0;
}

.main-buscar-profissionais {
  width: 100%;
  height: 100%;
  margin: 50px 0 0 0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 25px;
}

.caixa-de-texto {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.botao-pesquisar {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resultados {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.profissional-buscar {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profissional-buscar h2 {
  margin: 0;
  font-size: 18px;
}

.profissional-buscar p {
  margin: 5px 0;
}

.h1-buscar-profissionais {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5%;
}

.alinhar-ion-header-busca {
  display: flex;
  justify-content: left;
  align-items: left;
}

.sino-header-busca {
  font-size: larger;
  font-size: 190%;
}

.footer_buscar-profissionais {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.grupo_buscar button {
  margin-top: 4%;
  border-radius: 6%;
  border: solid;
  border-color: black;
  background-color: white;
}

.grupo_buscar {
  text-align: center;
}

.ion-icon_buscar {
  font-size: 40px;
}

.grupo_buscar button:hover {
  background-color: #c7d0d8;
}

.profissional-buscar {
  display: flex;
  align-items: center;
}

.aumentar-person-buscar {
  font-size: 50px;
  margin: 0 30px 0 0;
}

/*Tela de Treinos*/
.grupo_treino button {
  align-items: center;
  justify-content: space-between;
  margin-top: 4%;
  border-radius: 6%;
  border: solid;
  border-color: black;
  background-color: white;
}

.grupo_treino {
  text-align: center;
}

.ion-icon_treino {
  font-size: 40px;
}

.grupo_treino button:hover {
  background-color: #c7d0d8;
}

.footer_treino {
  bottom: 1rem;
  width: 100%;
}

/*Tela de Exercícios*/
.main_exercicios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_exercicios button {
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(120, 193, 242);
  border-color: rgb(120, 193, 242);
}

.main_exercicios table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 27%;
  font-size: 112%;
}

.main_exercicios table {
  margin-top: 3%;
  margin-bottom: 3%;
}

.barraPesquisa {
  display: flex;
  background-color: #fff;
  border: solid 1px;
  border-radius: 15px;
  width: 300px;
  margin-top: 3%;
  margin-bottom: 3%;  
}

.procurar {
  background-color: transparent;
  padding-left: 5px;
  font-size: 15px;
  border: none;
  height: 26px;
  width: 260px;
  outline: 0;
}

.ion-icon_procurar {
  font-size: 20px;
  padding-top: 4px;
}

.exercicios_voltar {
  border: none;
  background-color: #fff;
  border-radius: 20px;
}

.exercicios_voltar:hover {
  background-color: #c7d0d8;
}

.tabela_exercicios {
  text-align: center;
  margin: 40%;
}

/*Tela de Dieta*/
.h1-tela-dieta{
  margin-left: 1rem;
}

.ion-icon_dieta{
  font-size: 40px;
  margin-top: 1rem;
  margin-left: 2rem;
}

.garfo-dieta{
  display: flex;
}

.footer-telaDieta {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.tabela-tela-dieta {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 600px;
  margin-left: 28%;
}

/*Tela de Ver Chamadas*/
.red {
  padding: 5px 5px 5px 5px;
  margin: 10px 0 0 0;
  width: 30%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow {
  padding: 5px 5px 5px 5px;
  margin: 10px 0 0 0;
  width: 30%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green {
  padding: 5px 5px 5px 5px;
  margin: 10px 0 0 0;
  width: 30%;
  background-color: rgb(67, 190, 67);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-chamadas {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-chamadas {
  margin: 0 0 0 10px;
}

/*Tela de Diploma*/
.main-diploma {
  margin: 10% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-diploma {
  position: fixed;
  bottom: 1rem;
  width: 100%;
}

/*Tela de Biografia*/
.person-biografia {
  width: 20%;
  margin: 5% 0 0 40%;
  background-color: #ccc;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-biografia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 0 0;
  flex-direction: column;
}

.option-biografia {
  background-color: #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 40px;
  width: 30%; 
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Primeira Tela Responsiva */
@media (min-width: 480px) {
  .index_body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .index_body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*Tela de Login2 Responsiva*/
@media (min-width: 480px) {
  .login_2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .login_2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/* Tela de Cadastro do Profissional Responsiva*/
@media (min-width: 480px) {
  .cadastro-pro_body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .cadastro-pro_body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

/*Tela de Cadastro do Cliente Responsiva*/
@media (min-width: 480px) {
  .body-cadastro-cli {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .body-cadastro-cli {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*Tela do Menu do Profissional Responsiva*/
@media (min-width: 480px) {
  .body-menu-cli {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .body-menu-cli {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*Tela do Menu do Cliente Responsiva*/
@media (min-width: 480px) {
  .body-menu-cli {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .body-menu-cli {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*Tela do Perfil do Profissional Responsiva*/
@media (min-width: 480px) {
  .body-perfil-pro {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .body-perfil-pro {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*Tela do Perfil do Cliente Responsiva*/
@media (min-width: 480px) {
  .body-perfil-cli {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .body-perfil-cli {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*Tela de Medidas Responsiva*/
@media (min-width: 480px) {
  .body-cadastro-cli-medidas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .body-cadastro-cli-medidas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*Tela de Termos Responsiva*/
@media (min-width: 480px) {
  .body-termos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .body-termos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*Tela de Adicionar Dicas Responsiva*/
@media (min-width: 480px) {
  .body-adicionar-dicas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .body-adicionar-dicas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*Tela de Ver Dicas Responsiva*/
@media (min-width: 480px) {
  .body_verDicas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .body_verDicas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/* Tela de Planos Responsiva */
@media (max-width: 480px) {
  .planos_main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .planos_main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/* Tela de Buscar Profissionais Responsiva*/
@media (max-width: 480px) {
  .body-buscar-profissionais {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .body-buscar-profissionais {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*Tela de Treinos Responsiva*/
@media (max-width: 480px) {
  .body_verDicas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .body_verDicas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .main_verDicas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .main_verDicas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/* Tela de Chat*/
.ion-icon_chat{
  font-size: x-large;
}

.button_clientes{
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_chat a{
  text-decoration: none;
}

.main_chat{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main_chat button{
  margin: 11px;
  width: 212px;
}

.footer_chat{
  margin: 12%;
}