/* Primeira tela do aplicativo: */
.index_body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.index_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.index_main img {
  max-width: 300px;
  background-color: #f4dfd4;
  border: 5px solid var(--primary-color);
}

.index_footer {
  display: flex;
  justify-content: center;
  padding-top: 13%;
}

.index_footer span {
  border-right: 2px solid var(--primary-color);
  padding: 0 2rem;
}

.index_footer span:last-child {
  border: none;
}

.index_main button,
p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 30px;
  border: 2px solid #ffffff;
  margin: 10px auto;
}

.cor {
  color: #1441d5;
}

.index_body a {
  color: #1441d5;
  text-decoration: none;
}


/* Tela de login 2: */
.profissional {
  background-color: #76c2af;
  border-color: #76c2af;
  align-items: center;
  text-align: center;
  padding: 8px;
  margin: 20px;
}

.login2_footer button{
  background-color: white;
  border-radius: 19px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #ccc;
  border-color:#ccc;
}

.login2_footer button:hover{
  background-color: #999b9e;
  border-color: #999b9e;
}

.login2_ion {
  font-size: 25px;
  margin: 2px;
}

.profissional b {
  margin: 12px;
}

.cliente {
  background-color: #5ce1e6;
  border-color: #5ce1e6;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  margin: 20px;
}

.cliente b {
  margin: 12px;
}

.flex-centro {
  display: flex;
  justify-content: center;
  align-items: center;
}



.quem {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 40px;
}

.botoes button {
  border-radius: 8px;
  width: 207px;
  justify-content: center;
  margin: 43px;
  padding: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.login_2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.login_2 a {
  text-decoration: none;
}


/* Tela de cadastro do profissional: */
.cadastro-pro_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cadastro-pro_main {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  max-width: 500px;
  margin: 0 auto;
}

.cadastro-pro_main input {
  width: 260px;
  background-color: #ccc;
}

.cadastro-pro_header h1 {
  text-align: center;
}

.diploma {
  background-color: rgb(255, 255, 255)
}

.bio {
  height: 100px;
}

.salvar button {
  background-color: #1498d5;
  border-color: #0cc0df;
  padding: 1px;
  width: 84px;
  border-radius: 8px;
  margin-top: 14px;
}

.salvar button:hover {
  background-color: #096a97;
  border-color: #096a97;
}


/* Tela de cadastro do cliente: */
.body-cadastro-cli {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f3f3;
}

.main-cadastro-cli {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  max-width: 500px;
  margin: 0 auto;
}

.main-cadastro-cli input {
  width: 260px;
  background-color: #ccc;
}

.h1-cadastro-cli {
  text-align: center;
}

.diploma {
  background-color: rgb(255, 255, 255)
}

.bio {
  height: 100px;
}

.footer-cadastro-cli {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.footer-cadastro-cli span {
  padding: 0 1rem;
}

.footer-cadastro-cli span:last-child {
  border: none;
}

.footer-cadastro-cli input {
  width: 120px;
  background-color: #1498d5;
}

.footer-cadastro-cli a button {
  background-color: #1498d5;
  border-color: #0cc0df;
  padding: 1px;
  width: 84px;
  border-radius: 8px;
}

.footer-cadastro-cli a button:hover {
  background-color: #096a97;
  border-color: #096a97;
}


/* Tela de termos de uso: */
.header-termos {
  text-align: center;
  margin-bottom: 40px;
}

.main-termos p {
  display: inline;
  text-align: justify;
  font-size: 124%;
  margin-bottom: 50%;
}

.footer-termos button {
  background-color: #1498d5;
  border-color: #1498d5;
  padding: 6px;
  width: 50px;
  border-radius: 16px;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 48%;
}

.main-termos button:hover {
  background-color: #096a97;
  border-color: #096a97;
}

/* Tela de menu do profissional: */
.h1-menu-pro {
  text-align: left;
}

.body-menu-pro {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.main-menu-pro,
.h1-menu-pro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.main-menu-pro button {
  width: 200px;
  padding: 10px;
  margin: 30px;
  justify-content: center;
  background-color: rgb(120, 193, 242);
  flex-direction: column;

}

.grupo button {
  background-color: var(--primary-color);
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .main-menu-pro {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .main-menu-pro {
    width: 30%;
  }
}

/* Tela de menu do cliente: */
.main-menu-cli {
  text-align: center;
}


.header-menu-cli {
  padding-bottom: 39px;
  padding-left: 10px;
  padding-top: 10px;
}

.main-menu-cli button {
  width: 200px;
  padding: 10px;
  margin: 30px;
  background-color: rgb(120, 193, 242);
  border-color: rgb(120, 193, 242);
}



@media (min-width: 768px) {
  .main-menu-cli {
    width: 100%;
  }
}

/* Tela dos planos: */
.planos {
  text-align: center;
}


.planos_main {
  display: flex;
  justify-content: center;
  margin-left: -25%;
  margin-top: 5%;
}

.basico,
.premium,
.familia {
  margin-left: 19%;

}

.basico button {
  background-color: #c7d0d8;
  border-color: #c7d0d8;
}

.premium button {
  background-color: #ff5757;
  border-color: #ff5757;
}

.conteudo{
  display: none;
}

.oculta {
  display: block;
}

.conteudo1{
  display: none;
}

.oculta1 {
  display: block;
}

.conteudo2{
  display: none;
}

.oculta2 {
  display: block;
}

.familia button {
  background-color: #fac832;
  border-color: #fac832;
}

.planos_main button {
  border-radius: 8px;
  padding: 10px;
  width: 85px;
  margin-bottom: 24px;
}

.basico button:hover {
  background-color: #999b9e;
}

.premium button:hover {
  background-color: #eb2727;
}

.familia button:hover {
  background-color: #f0b504;
}


.planos2_main {
  text-align: center;
}

.planos2_header button {
  background-color: white;
  border: none;
  border-radius: 19px;
  margin-top: 10px;
  margin-left: 10px;
}


.planos2_ion {
  text-align: left;
  font-size: 25px;
}

.planos2_header button:hover {
  background-color: #999b9e;
}

.planos2_header h1,
h4 {
  text-align: center;
}

.planos2_main h1 {
  font-size: 50px;
  display: inline;
}

.planos2_main button {
  border-radius: 8px;
  padding: 10px;
  width: 85px;
  margin-bottom: 24px;
}

.planos2_basico {
  background-color: #c7d0d8;
  border-color: #c7d0d8;
}

.planos2_premium {
  background-color: #ff5757;
  border-color: #ff5757;
}

.planos2_familia {
  background-color: #fac832;
  border-color: #fac832;
}

.planos2_basico:hover {
  background-color: #999b9e;
}

.planos2_premium:hover {
  background-color: #eb2727;
}

.planos2_familia:hover {
  background-color: #f0b504;
}

.planos2_main p {
  font-size: 19px;
}

/*Tela do perfil do profissional*/
.h1-perfil-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5%;
}

.alinhar-ion-header-perfil-pro {
  display: flex;
  justify-content: left;
  align-items: left;
}

.sino-header-perfil-pro {
  font-size: larger;
  font-size: 190%;
}

.alinhar-ion-main-perfil-pro {
  margin: 5% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-main-perfil-pro {
  font-size: larger;
  font-size: 600%;
}

.alinhar-main-perfil-pro {
  display: block;
  margin: 0 0 0 3%;
}

.h2-main-perifl-pro {
  margin: 0;
}

.p-main-perifl-pro {
  margin: 0;
  border: 0;
  display: flex;
  justify-content: left;
}

.alinhar-informcoes-perfil-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alinhar-option-perfil-pro {
  background-color: rgb(120, 193, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 30%;
  height: 30%;
}

/*Tela do perfil do cliente*/
.h1-perfil-cli {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5%;
}

.alinhar-ion-header-perfil-cli {
  display: flex;
  justify-content: left;
  align-items: left;
}

.sino-header-perfil-cli {
  font-size: larger;
  font-size: 190%;
}

.alinhar-ion-main-perfil-cli {
  margin: 3% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-main-perfil-cli {
  font-size: larger;
  font-size: 600%;
}

.alinhar-main-perfil-cli {
  display: block;
  margin: 0 0 0 3%;
}

.h2-main-perifl-cli {
  margin: 0;
}

.p-main-perifl-cli {
  margin: 0;
  border: 0;
  display: flex;
  justify-content: left;
}

.informacoes-perfil-cli {
  display: flex;
  justify-content: center;
  margin: 1% 0 0 10%;
}

.alinhar-option-perfil-cli1 {
  background-color: rgb(120, 193, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 50%;
}

.alinhar-option-perfil-cli2 {
  background-color: rgb(120, 193, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 50%;
}

.alinhar-option-perfil-cli3 {
  background-color: rgb(120, 193, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 50%;
}

.alinhar-option-perfil-cli4 {
  background-color: rgb(120, 193, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 50%;
}

.arrumar-informacoes-perfil-cli1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 10% -23%;
}

.arrumar-informacoes-perfil-cli2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 10% -23%;
}

.arrumar-informacoes-perfil-cli3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 10% -23%;
}

.arrumar-informacoes-perfil-cli4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 10% -23%;
}

.h3-img-perfil-cli {
   display: block;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.h3-perfil-cli {
  text-align: center;
}

.calendario-perfil-cli {
  width: 20%;
}

/*Tela de adicionar dica*/
.h1-adicionar-dicas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5%;
}

.alinhar-ion-header-adicionar-dicas {
  display: flex;
  justify-content: left;
  align-items: left;
}

.sino-header-adicionar-dicas {
  font-size: larger;
  font-size: 190%;
  margin: 5px 0 0 1%;
}

.body-adicionar-dicas {
  background-color: #999b9e;
  margin: 0;
}

.header-adicionar-dicas {
  background-color: white;
}

.main-adicionar-dicas {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #999b9e;
  margin: 5% 0 0 0;
}

.alinhar-option-adicionar-dicas {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgb(120, 193, 242);
  border-radius: 40px;
  width: 40%;
  height: 35%;
}

.alinhar-option-adicionar-dicas2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgb(120, 193, 242);
  border-radius: 40px;
  width: 40%;
  height: 50%;
  margin: 2% 0 0 0;
}

.h2-adicionar-dicas {
  display: block;
}

.h2-adicionar-dicas2 {
  display: block;
}

.p-adicionar-dicas {
  display: block;
}