.profissional{
    background-color: #76c2af;
    border-color: #76c2af;
    align-items: center;
    text-align: center;
    padding: 8px;
    margin: 20px;
}

.login2_ion{
    font-size: 25px;
    margin: 2px;
}

.profissional b{
    margin: 12px;
}

.cliente{
    background-color: #5ce1e6;
    border-color: #5ce1e6;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    margin: 20px;
}

.cliente b{
    margin: 12px;
}

.flex-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}



.quem{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
}

.botoes button{
    border-radius: 8px;
    width: 207px;
    justify-content: center;
    margin: 43px;
    padding: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.login_2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.login_2 a{
    text-decoration: none;  
}