main{
    text-align: center;
}


header{
    padding-bottom: 39px;
    padding-left: 10px;
    padding-top: 10px;
}

main button{
    width: 200px;
    padding: 10px;
    margin: 30px;
    background-color: rgb(120, 193, 242);
    border-color: rgb(120, 193, 242);
}