.planos2_main{
    text-align: center;
}

.planos2_header button{
    background-color: white;
    border: none;
    border-radius: 19px;
    margin-top: 10px;
    margin-left: 10px;
}


.planos2_ion{
    text-align: left;
    font-size: 25px;
}

.planos2_header button:hover{
    background-color: #999b9e;
}

.planos2_header h1, h4{
    text-align: center;
}

.planos2_main h1{
    font-size: 50px;
    display: inline;
}

.planos2_main button{
    border-radius: 8px;
    padding: 10px;
    width: 85px;
    margin-bottom: 24px;
}

.basico{
    background-color: #c7d0d8;
    border-color: #c7d0d8;
}

.premium{
    background-color:#ff5757;
    border-color: #ff5757;
}

.familia{
    background-color: #fac832;
    border-color: #fac832;
}

.basico:hover{
    background-color:#999b9e;
}

.premium:hover{
    background-color:#eb2727;
}

.familia:hover{
    background-color:#f0b504;
}

.planos2_main p{
    font-size: 19px;
}