header{
    text-align: center;
    margin-bottom: 40px;
}

main p{
    text-align: justify;
    font-size: 19px;
    margin-bottom: 50px;
    margin-left: 20px;
}

main button{
    background-color: #1498d5;
    border-color: #0cc0df;
    padding: 12px;
    width: 68px;  
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 643px;
}

main button:hover{
    background-color:#096a97;
    border-color: #096a97;
}
