.profissional{
    background-color: #76c2af;
    border-color: #76c2af;
    align-items: center;
    text-align: center;
    padding: 8px;
    margin: 20px;
}

ion-icon{
    font-size: 25px;
    margin: 2px;
}

.profissional b{
    margin: 12px;
}

.cliente{
    background-color: #5ce1e6;
    border-color: #5ce1e6;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar{
    background-color: #0cc0df;
    border-color: #0cc0df;
    padding: 1px;
    width: 91px;    
}

h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
}

button{
    border-radius: 8px;
    width: 250px;
    justify-content: center;
    margin: 43px;
    padding: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}