body{
    text-align: center;
}

.basico button{
    background-color: #c7d0d8;
    border-color: #c7d0d8;
}

.premium button{
    background-color:#ff5757;
    border-color: #ff5757;
}

.familia button{
    background-color: #fac832;
    border-color: #fac832;
}

main button{
    border-radius: 8px;
    padding: 10px;
    width: 85px;
    margin-bottom: 24px;
}

.basico button:hover{
    background-color:#999b9e;
}

.premium button:hover{
    background-color:#eb2727;
}

.familia button:hover{
    background-color:#f0b504;
}

